node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/dist

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.timetracker
.github/*
25_Rauhankone_geoblock/block_russia_firewall.txt.gz
src/lib/translations/redundant.json
